@font-face {
    font-family: 'Cloister';
    src: url('CloisterBlack-Light.woff2') format('woff2'),
        url('CloisterBlack-Light.woff') format('woff');
    font-weight: 300;
    font-style: normal;
    font-display: swap;
}

